@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
h1 {
  color: white;
  text-align: center;
  font-family: 'Cinzel Decorative', cursive;
}
h3 {
  color: white;
  text-align: left;
  font-family: 'Cinzel Decorative', cursive;
}
a {
  color: gray;
  text-align: left;
  font-family: 'Cinzel Decorative', cursive;
}
